uwsgi
flask
requests
joblib
nltk
numpy
scipy
scikit-learn
gensim==4.3.2
tensorflow
flask-cors
flask-restx
docstring-parser
# git+https://github.com/davidlenz/pvtm
pvtm-temp
pandas
matplotlib
wordcloud
spacy
contextualized_topic_models
